.container {
  display: flex;
  color: white;
  height: 50px;
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  color: white;
}

.label {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.divider {
  margin: 8px 0px ;
}

.button:hover {
  color: red;
}