.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px 0px;
}

.topBanner {
  padding: 0px;
  padding-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding-top: 10px;
  gap: 20px;
  align-content: stretch;
}

.sideBanner {
  max-width: 200px;
  min-height: 1000px;
  margin-right: 10px;
}